mat-toolbar {
    padding: 0px 25px;
}

.mat-toolbar.mat-primary {
    background: #a21f30;
    color: #fff;
}

.btn-color {
    background: #a21f30;
    right: 20px;
    position: absolute;
}