<app-header></app-header> 

<div class="container">
    <h2 class="title-header"> Book a new appointment with Pomp Barbers</h2>
    <p>Welcome user! Select a your date to view the timeslots</p>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker ></mat-datepicker>
    </mat-form-field>

    <div class="timeslots">
        <p>Choose an available timeslot below</p>

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">10am - 11am</mat-button-toggle>
            <mat-button-toggle value="italic">11am - 12pm</mat-button-toggle>
            <mat-button-toggle value="bold">12pm - 1pm</mat-button-toggle>
            <mat-button-toggle value="italic">1pm - 2pm</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <button mat-raised-button color="primary">Submit</button>
    

</div>